.locationThumb {
    flex-grow: 0;
    background-image: url('project://database/Assets/UI%20Toolkit/UI%20Images/CharacterSelectBGThumb.png?fileID=2800000&guid=426799e3374a44416805a1b0bb9b661b&type=3#CharacterSelectBGThumb');
    height: 100%;
    width: 700px;
    margin-left: 0;
    margin-right: 32px;
    flex-shrink: 0;
    -unity-background-scale-mode: scale-and-crop;
}
